<div class="column">
  <div class="column-header">
    <div *ngIf="!isEditingTitle; else editTitleTemplate">
      <h3 (click)="enableEditTitle()">{{ column.name }}</h3>
    </div>
    <ng-template #editTitleTemplate>
      <input
        type="text"
        [(ngModel)]="editableTitle"
        (blur)="saveTitle()"
        (keyup.enter)="saveTitle()"
        (keyup.esc)="cancelEditTitle()"
        autofocus
      />
    </ng-template>

    <div class="buttons-group">
    <button class="task-btn" (click)="addTask()">+</button>
    <button class="delete-btn" (click)="triggerDeleteConfirm()">-</button>
  </div>
  </div>

  <div
    class="tasks"
    cdkDropList
    [id]="columnId"
    [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="connectedTo"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="task"
      *ngFor="let task of column.tasks"
      cdkDrag
      (click)="selectTask(task)"
    >
      <b>{{ task.title }}</b><br />
      <small>{{ getUserNameById(task.assignedTo) }}</small>
    </div>
  </div>
</div>

<div *ngIf="showConfirm" class="confirm-overlay">
  <div class="confirm-box">
    <p>¿Eliminar la columna "{{ column.name }}"?</p>
    <button class="btnConfirm" (click)="confirmDelete()">Sí</button>
    <button class="btnCancel" (click)="cancelDelete()">Cancelar</button>
  </div>
</div>
