<div class="task-card">
  <h2>Editar Tarea</h2>
  
  <label>Título:</label>
  <input [(ngModel)]="editedTask.title" required />

  <label>Descripción:</label>
  <textarea [(ngModel)]="editedTask.description" required></textarea>

  <label>Asignar a:</label>
  <select [(ngModel)]="editedTask.assignedTo">
    <option [ngValue]="null">Sin asignar</option>
    <option *ngFor="let user of users" [ngValue]="user.id">{{ user.username }}</option>
  </select>  

  <div class="buttons">
    <button (click)="onSave()">Guardar</button>
    <button (click)="onCancel()">Cancelar</button>
    <button (click)="onDelete()" class="delete-button">Eliminar</button>
  </div>
</div>
