<div class="kanban-board" style="margin: 20px">
  <div class="toolbar" style="margin-bottom: 16px;"></div>
  <div class="columns">
    <app-column
      *ngFor="let col of columns"
      [column]="col"
      [users]="users"
      [connectedTo]="getConnectedTo(col.name)"
      (addTaskClick)="onAddTaskClick(col)"
      (taskSelected)="onTaskSelected($event)"
      (taskDropped)="onTaskDropped($event)"
      (columnUpdated)="onColumnUpdated($event)"
      (columnDeleted)="onDeleteColumn($event)"
    ></app-column>

    <div class="add-column-button-wrapper">
      <button (click)="onAddColumnClick()">+</button>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showTaskForm">
    <app-task-form
      [users]="users"
      (save)="onSaveTask($event)"
      (cancel)="onCancelTask()"
    ></app-task-form>
</div>

<div class="modal-backdrop" *ngIf="showEditTaskForm && selectedTask">
  <app-task-card
    [task]="selectedTask"
    [users]="users"
    (update)="onUpdateTask($event)"
    (cancel)="onCancelEditTask()"
    (delete)="onDeleteTask()"
  ></app-task-card>
</div>

<div class="modal-backdrop" *ngIf="showColumnForm">
    <app-column-form
      (save)="onSaveColumn($event)"
      (cancel)="onCancelColumn()"
    ></app-column-form>
</div>
