<header>
  <button class="menu-toggle" (click)="toggleMenu()" *ngIf="authService.isLoggedIn()">☰</button>
  <h2>GestionaT</h2>

  <nav class="side-menu" [class.open]="menuOpen" *ngIf="authService.isLoggedIn()">

    <section class="boards-section">
      <ul>
        <li *ngFor="let b of boards">
          <a [routerLink]="['/dashboard', b.id]" (click)="toggleMenu()">
            {{ b.name }}
          </a>
        </li>
      </ul>
    </section>

    <ul class="nav-links">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/users">Usuarios</a></li>
      <li><a href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>
